.button-white {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    width: 600px;
    height: 70px;
    font-size: 44px;
    -unity-text-align: upper-left;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.button-white:hover {
    scale: 1 1;
    background-color: rgb(219, 219, 219);
    color: rgb(0, 0, 0);
    align-items: flex-start;
}

.button-white:active {
    background-color: rgb(241, 203, 255);
}
